@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>

</div>
 <h4>All Restaurants</h4>
      @foreach (Restaurant restaurant in Model)
    {
      <li>@Html.ActionLink(@restaurant.RestaurantName, "Details", "Restaurants", new { id = @restaurant.RestaurantId})</li>
    }
  <p>Please @Html.ActionLink("log in", "LogIn", "Account") manage your Restaurants.</p>
