@{
  ViewData["Title"] = "Home Page";
}
<div class="text-center">
  <br>
  <h4 font-family="Arial"><i>Epic Yelp</i></h4>
</div>
<h4>All Restaurants</h4>
@foreach (Restaurant restaurant in Model)
{
  <li>@Html.ActionLink(@restaurant.RestaurantName, "Details", "Restaurants", new { id = @restaurant.RestaurantId})</li>
}
<div class="container">
  <div class="swiper">
    <div class="swiper-wrapper">
      <!-- Slides -->
      <div class="swiper-slide" style="vertical-align:middle; text-align:center">
        <img src="~/css/asset/james.jpg">
      </div>
      <div class="swiper-slide" style="vertical-align:middle; text-align:center">
        <img src="~/css/asset/lisa.jpg">
      </div>
      <div class="swiper-slide" style="vertical-align:middle; text-align:center">
        <img src="~/css/asset/igor.jpg">
      </div>
      <div class="swiper-slide" style="vertical-align:middle; text-align:center">
        <img src="~/css/asset/ctia.jpg">
      </div>
      <div class="swiper-slide" style="vertical-align:middle; text-align:center">
        <img src="~/css/asset/kyle.jpg">
      </div>

    </div>
    <div class="swiper-pagination"></div>
    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>
  </div>

</div>
<script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script>
<script>
  const swiper = new Swiper('.swiper', {
    loop: true,

    // If we need pagination
    pagination: {
      el: '.swiper-pagination',
      clickable: true
    },

    // Navigation arrows
    navigation: {
      nextEl: '.swiper-button-next',
      prevEl: '.swiper-button-prev',
    },
  });
</script>

