@{
  Layout = "_Layout";
}

@model RestaurantApp.Models.Item

<h2>Are you sure you want to delete this?</h2>

@Html.DisplayNameFor(model => model.ItemName): @Html.DisplayFor(model => model.ItemName)
@using (Html.BeginForm())
{
  <input type="submit" value="Delete" />
}
@Html.ActionLink("Back to List", "Index")