@{
  Layout = "_Layout";
}

@model RestaurantApp.Models.Restaurant
<br>
<h5>Are you sure you want to delete: @Html.DisplayFor(model => model.RestaurantName) ?</h5>



<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      @using (Html.BeginForm(new { @class = "form-horizontal" }))     
      {
        <input type="submit" value="Delete" />
        <button type="button" class="btn btn-dark">
        <a class="text-white" href="@Url.Action("Details","Restaurants", 
        new { id = Model.RestaurantId })">Back to list</a></button>
      }
      <br>
