body {
  margin: 3rem;
  background-color: #222;
  color: #bbb;
}

.swiper{
  width: 65%;
  height: fit-content;
}

.swiper-slide img{
  width:465px; 
  height: 330px;
}

div#footer {
  position:fixed;
  bottom:0px;
  left:0px;
  width:100%;
  color:#CCC;
  background:#333;
  padding:8px;
}



